<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert YouTube Music Playlist to Spotify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h1>Convert YouTube Music Playlist to Spotify</h1>
    <form action="/youtube_to_spotify" method="post">
        <label for="playlist_link">Enter YouTube Music Playlist URL:</label><br>
        <input type="text" id="playlist_link" name="playlist_link"><br>
        <input type="submit" value="convert">
    </form>
    </div>
</body>
</html>